<br />
<div class= "row">
  <div class="col s8 l6">
    <%= form_for(:word, url: new_english_translator_path, method: :get)  do %>
      <div class = "col s6 l6">
      <%= text_field_tag (:word) %>
      </div>
      <div class = "col s2 l6 valign-wrapper">
      <%= submit_tag 'Translate', class: 'btn valign' %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s12 l12">
    <p class="blue-text text-darken-3 flow-text">
    <% if !@result.nil? %>
      <% @result.each do |word| %>
        <%= word.upcase%>
      <% end %>
    <% end %>
    <p>
  </div>
</div>







