      <nav class="green accent-4 black-text" role="navigation">
        <div class="nav-wrapper container"><%= link_to "English", root_path, id:
                                              "logo-container", class: "brand-logo" %>
          <ul class="right hide-on-med-and-down  blue-grey-text text-darken-4">
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>

          <ul id="nav-mobile" class="side-nav green accent-4 blue-grey-text text-darken-4">
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>

