<!DOCTYPE html>
<html>
  <head>
    <title>Angielski</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <%= render "home/shared/menu" %>
    <div class="container">
      <%= yield %>
       <%= debug(params) if Rails.env.development? %>
    </div>
    </div>
  </body>
</html>

